<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="250000" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" urlLinePragmas="true">
      <assemblies>
        <add assembly="MySql.Data, Version=6.3.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <clear />
    <add name="dbbaglantisi" connectionString="server=localhost;database=oyunde;uid=oyunde;password=873679787;charset=latin5;pooling=true;Max Pool Size=2000;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
        
        <rule name="konuici" stopProcessing="true">
          <match url="^oyun_oyna/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="detay.aspx?id={R:1}" />
        </rule>
      
        
        
        <rule name="kategoriler" stopProcessing="true">
          <match url="^oyun_oynak/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="kategori.aspx?id={R:1}" />
        </rule>


        <rule name="oyunoynahabberler" stopProcessing="true">
          <match url="^oyun_oynah/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="haberler.aspx?id={R:1}" />
        </rule>



        <rule name="etiketler" stopProcessing="true">
          <match url="^eoyun/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="arama.aspx?id={R:1}" />
        </rule>
        
                <rule name="enyenioyunlar" stopProcessing="true">
                    <match url="^enyenioyunlarioyna$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="enyenioyunlarioyna.aspx" />
                </rule>
        
        
                <rule name="en cok oynanalar" stopProcessing="true">
                    <match url="^encokoynananoyunlar$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="encokoynananoyunlar.aspx" />
                </rule>


        <rule name="rsslinki" stopProcessing="true">
          <match url="^rss.xml" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="rss.aspx" />
        </rule>
        
        
        <rule name="sitemap" stopProcessing="true">
          <match url="^sitemap.xml$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="sitemap.aspx" />
        </rule>


        <rule name="iletisim" stopProcessing="true">
          <match url="^iletisimoyun$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="iletisim.aspx" />
        </rule>



        <rule name="oyunlistem" stopProcessing="true">
          <match url="^oyunlistem$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="oyunlistem.aspx" />
        </rule>
        
      </rules>

    </rewrite>
    
  </system.webServer>
  <appSettings>
    <add key="APIKey" value="228717773907384"/>
    <add key="Secret" value="a0dc9366d6a5423a10b2cb29b1ea7f15"/>
    <add key="AppUniqueName" value="oyundeapps"/>
    <add key="AppName" value="Oyunde | Oyun Oynamının Yeni Adresi"/>
    <add key="CallbackUrl" value="https://www.facebook.com/OyunDe"/>
    <add key="InviteActionText" value="Haydi arkadaşlarını davet ederek daha fazla eğlen ve PUAN topla"/>
  </appSettings>
</configuration>